= semantic_form_for @crew do |f|
  = f.inputs do
    = f.input :boat_name
    = f.input :captain_name
    = f.input :captain_email
    = f.input :start_point, :as => :radio, :collection => Hash[@start_points.map{|b| ["#{b.number} #{b.name}",b.id]}]
  = f.actions do
    = f.action :submit, :as => :input
