- content_for :head do
  <meta http-equiv="refresh" content="300">

.wrapper
  = link_to 'Börja en ny segling!', new_crew_path

  %h1 Topplista

  %table.result-list
    %thead
      %tr
        %th Båt
        %th Skeppare
        %th Distans
        %th Start/mål
        %th Spelade

    %tbody
      - @best.reverse.each do |crew|
        %tr
          %td= link_to crew.boat_name, crew
          %td= crew.captain_name
          %td= crew.distance.round 1
          %td= crew.start_point.number_name unless crew.start_point.blank?
          %td= crew.created_at

  %hr
  %h1 Just nu
  %table.result-list
    %thead
      %tr
        %th Båt
        %th Skeppare
        %th Startade vid
        %th Nu seglat
        %th Siktad klockan
        %th Senast siktad vid

    %tbody
      - @ongoing.each do |crew|
        %tr
          %td= link_to crew.boat_name, crew
          %td= crew.captain_name
          %td= crew.start_point.number_name unless crew.start_point.blank?
          %td= crew.distance.round(1).to_s + ' M'
          %td= l(crew.game_time, :format => :long)
          %td= crew.last_point.number_name unless crew.last_point.blank?




  %p= "Torrsegling version: #{Rails.configuration.version}"


