%p#notice= notice

.map-wrapper
  #map
  %div{:class => "alpha60", :id => "boat-data"}
    %h1
      = @crew.boat_name
    %h2
      = @crew.captain_name
    %p
      %b What's next?
    = semantic_form_for @log_entry, :url => create_log_entry_crew_url do |f|
      = f.input :to_point, :as => :radio, :label => 'Where to?', :collection => Hash[@point_options.map{|b| ["#{b.number} #{b.name}",b.id]}]
      -#= f.input :point
      -#= f.input :crew_id
      = f.actions

      -# %ul
      -# - for section in @crew.last_point.sections do
      -#   %li= link_to "#{section.point.number} - #{section.to_point.number_name} (#{section.distance} M).", create_log_entry_crew_path(:section_id => section.id)

    %p
      %b Log
      %p= "Last point #{@crew.last_point.number_name}"
      %ul
      -#- for log_entry in @crew.log_entries do
      -#  %li= "#{log_entry.point.number_name} -- #{log_entry.to_point.number_name}"


= render 'map'