%h1 Listing points

%table
  %thead
    %tr
      %th Number
      %th Name
      %th Lat
      %th Long
      %th Definition
      %th Other end

      
  %tbody
    - @points.first(5).each do |point|
      %tr
        %td= link_to point.number, point
        %td= link_to point.name, point
        %td= point.lat
        %td= point.long
        %td= point.definition
        %td
          %ul
            - for section in point.sections do
              %li= link_to section.other_end, section.to_point


%br

= link_to 'New Point', new_point_path
