%p#notice= notice

%p
  %b Number:
  = @point.number
%p
  %b Name:
  = @point.name
%p
  %b Lat:
  = @point.lat
%p
  %b Long:
  = @point.long
%p
  %b Definition:
  = @point.definition

  %b Sections:
%ol
  - for section in @point.sections
    %li= link_to(section.to_point.number_name + " (" + section.distance.to_s + " M)", section)

= link_to 'Edit', edit_point_path(@point)
\|
= link_to 'Back', points_path
\|
=link_to 'Destroy', @point, :method => :delete, :data => { :confirm => "Delete #{@point.number_name}? Are you sure?" }
