= semantic_form_for @section do |f|
  = f.inputs do
    = f.input :point, :collection => Hash[Point.all.order('number ASC').map{|b| ["#{b.number} #{b.name}",b.id]}]
    = f.input :to_point, :collection => Hash[Point.all.order('number ASC').map{|b| ["#{b.number} #{b.name}",b.id]}]
    = f.input :distance

  = f.actions do
    = f.action :submit, :as => :input
