%p#notice= notice

%p
  %b Point:
  = @log_entry.point
%p
  %b To point:
  = @log_entry.to_point.number_name
%p
  %b From time:
  = @log_entry.from_time
%p
  %b To time:
  = @log_entry.to_time
%p
  %b Description:
  = @log_entry.description
%p
  %b Position:
  = @log_entry.position

%p
  %b Crew:
  = @log_entry.crew.boat_name unless @log_entry.crew.blank?

= link_to 'Edit', edit_log_entry_path(@log_entry)
\|
= link_to 'Back', log_entries_path
